body {
    background-color: black;
    color: white;
    text-align: center;
}
footer {
    margin-top: 20px;
}
.main-body {
    border: 1px solid white;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
select {
    border-radius: 5px;
    padding: 5px 10px;
}
#submit {
    padding: 5px 10px;
    border-radius: 5px;
}