body {
    background-color: black;
    color: white;
    text-align: center;
}
footer {
    margin-top: 20px;
}
.left {
    text-align: left;
}
h2 {
    margin: 0;
}
.main-body {
    border: 1px solid white;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
.right {
    text-align: right;
}
select {
    border-radius: 5px;
    padding: 5px 10px;
    width: 75%;
}